// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

$am-theme-primary: #3F51B5;
$secondary-color: #FFE0B2;


#title_bar {
  background-image: linear-gradient($secondary-color, $secondary-color) !important;
}

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_material";


// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }


div.horizontal_child {
  display: inline-block;
  vertical-align: top;
}

th.horizontal {
  text-align: left;
  padding-right: 12px;
}

th.vertical {
  text-align: left;
  padding-right: 16px;
}

td.vertical {
  padding-right: 16px;
}

h1.dashboard {
  font-size: x-large;
  padding: 24px 0 32px 24px;
  font-weight: bold;
}

div.dashboard {
  padding: 12px 24px 12px 24px;
  width: 100%;
}
